<div>Fields</div>

<% fields.forEach( field => { %>
    <% if (field.hasOwnProperty('label')) { %>
        <label for="<%= field.id %>"><%= field.label %></label>
    <% } %> 

    <% const fieldClass = field.hasOwnProperty('class') ? field.class : ''; %>
    <% const fieldValue = field.hasOwnProperty('value') ? field.value: ''; %>

    <% if (['text', 'hidden', 'password', 'date', 'file'].includes(field.type)) { %>
        <input type="<%= field.type %>" id="<%= field.id %>" 

        <% if (field.hasOwnProperty('name')) { %>
                name="<%= field.name %>"
        <% } %>

        <% if (field.type != 'hidden') { %>
                class="form-control <%= fieldClass %>"
        <% } %>

        <% if (field.hasOwnProperty('placeholder')) { %>
            placeholder="<%= field.placeholder %>"
        <% } %> 

        value="<%= fieldValue %>">
    <% } %>

    <% if (field.type == 'select') { %>
    <% } %>

    <% if (field.type == 'textarea') { %>
        <textarea id="<%= field.id %>" class="form-control <%= fieldClass %>"

        <% if (field.hasOwnProperty('name')) { %>
                name="<%= field.name %>"
        <% } %>

        ><%= fieldValue %></textarea>

    <% } %>
<% }) %>

