
<table id="item-list" class="table table-hover table-striped">
    <thead class="table-success">
    <th scope="col">
        <input type="checkbox" id="toggle-select">
    </th>
        <% columns.forEach( column => { %>
            <th scope="col">
                <%= column.label %>
            </th>
        <% }) %>
    </thead>
    <tbody>
    <% items.forEach( (item, index) => { %>
        <tr>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" data-item-id="<%= item._id %> " data-index="<%= index %>">
                </div>
            </td>
            <% columns.forEach( column => { %>
                <td>
                    <% if (['title', 'name'].includes(column.name)) { %> 
                        <a href="<%= `${baseUrl}${req.originalUrl}/${item._id}` %>"><%= item[column.name] %></a>
                        <% return %> 
                    <% } %> 
                    <%= item[column.name] %>
                </td>
            <% }) %>
        </tr>
    <% }) %>
    </tbody>

</table>
