<%- include('../../partials/toolbar.ejs', {type: 'form'}) %>

<h2 class="page-header"><%= title %> </h2>
<form action="/users/users" id="itemForm" method="POST">
  <%- include('../../partials/fields.ejs') %>
    <input type="hidden" id="_fullUrl" value="<%= `${baseUrl}${req.originalUrl}` %>">
    <input type="hidden" id="_cancel" value="<%= `${baseUrl}/users/users/cancel` %>">
    <input type="hidden" name="_close" id="_close" value="">
</form>

<script src="<%= baseUrl %>/js/form.js"></script>
