<%- include('../../partials/toolbar.ejs', {type: 'form'}) %>
<%- include('../../partials/alerts.ejs') %>

<%= console.log(post.title) %>
<h2 class="page-header">Edit Post</h2>
<form action="/blog/posts/<%= post._id %>?_method=PUT" id="itemForm" method="POST">
    <%- include('../../partials/fields.ejs') %>

    <input type="hidden" id="_fullUrl" value="<%= `${baseUrl}${req.originalUrl}` %>">
    <input type="hidden" id="_listUrl" value="<%= `${baseUrl}/blog/posts` %>">
    <input type="hidden" id="_cancel" value="<%= `${baseUrl}/blog/posts/cancel/${post._id}` %>">
    <input type="hidden" name="_close" id="_close" value="">
</form>

<form action="/blog/posts/<%= post._id %>?_method=DELETE" id="deleteForm" method="POST">
</form>

<script src="<%= baseUrl %>/js/form.js"></script>