<%- include('../../partials/toolbar.ejs', {type: 'form'}) %>

<%= console.log(post.title) %>
<h2 class="page-header">Edit Post</h2>
<form action="/blog/posts/<%= post._id %>" method="PUT">
  <%- include('../../partials/fields.ejs') %>
  <input type="hidden" id="fullUrl" value="<%= `${baseUrl}${req.originalUrl}` %>">
</form>

<script src="<%= baseUrl %>/js/form.js"></script>